<header class="bg-white w-full flex justify-between h-[90px] shadow-md">
  <a routerLink="/" class="flex-1 ml-10 flex flex-col justify-center items-start">
    <img src="logo.ico" class="w-12 h-12" alt="logo"/>
  </a>
  <nav class="flex-1 flex justify-end items-center font-semibold space-x-5">
    <a routerLink="/products" class="text-gray-900" routerLinkActive="routerLinkActive"> Products</a>
    <a routerLink="/shops" class="text-gray-900" routerLinkActive="routerLinkActive">Shop</a>
  </nav>
  <nav class="flex-1 flex justify-end items-center font-semibold text-gray-900 space-x-5 mr-10">
    <a routerLink="/login" class="text-gray-900" routerLinkActive="routerLinkActive">Sign in</a>
    <a routerLink="/register" class="text-gray-900" routerLinkActive="routerLinkActive">Sign up</a>
  </nav>
</header>
