<div class="h-full w-full flex flex-col overflow-hidden">
  <div class="h-[90px] mb-3">

  </div>
  <div class="flex flex-wrap flex-grow justify-center mb-6 mx-auto gap-2 overflow-y-auto scroll-my-4">
      @for (product of data().data; track product.id) {
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
          <nz-card-meta [nzTitle]="product.name" [nzDescription]="product.description"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" [src]="product.image!" alt="image"/>
        </ng-template>
      }
  </div>

</div>
